body,html{
    background: #fff;
}
header{
    width: 1308px;
    height: 101px;
    border-bottom: 1px solid #e8e8ea;
    position: relative;
    height: 100px;
    background: #fff;
    z-index: 103;
}
header .wrap{
    width: 1000px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
header .wrap a{
    position: absolute;
    left: 0;
    top: 20px;
    background: url(//haitao.nos.netease.com/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=210x0&quality=85&v=1) no-repeat;
    width: 330px;
    height: 65px;
    line-height: 65px;
    outline: none;
    cursor: pointer;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: left center;
}
header .wrap .img{
    width: 504px;
    height: 100px;
    position: absolute;
    background: url(../images/top.jpg)  no-repeat;
    left: 458px;
}
.center{
    width: 1308px;
    height: 520px;
    background: url(../images/1cpubhhh726_1920_520.jpg) no-repeat;
    position: relative;
}

.center .con{
    width: 352px;
    // height: 393px;
    position: absolute;
    z-index: 2;
    right: 94px;
    top: 48px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    overflow: hidden;
}
.center .con .top{
    position: relative;
    width: 350px;
    height: 52px;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 16px;
    line-height: 52px;
    color: #333;
}
.center .con .top .name{
    float: left;
    width: 175px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

}
.center .con .top .head1{
    color: #e31436;
}
.center .con .top .head2:hover{
    color: #e31436;
}
.center .con .top .line{
    position: absolute;
    top: 17px;
    left: 175px;
    width: 0px;
    height: 20px;
    border-right: solid 1px #ddd;
}
.center .con .box{
    height: 298px;
    width: 350px;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 20px 40px 15px;
}
.center .con .box .form{
    width: 270px;
    height: 263px;
    color: #666;
}
.center .con .box .form .u-tab{
    width: 270px;
    padding: 0 0 10px 0;
    height: 24px;
}
.center .con .box .tab0{
    height: 14px;
    padding-left: 17px;
    line-height: 14px;
    background: url(../../../images/login/ursicon.png) no-repeat;
    float: right;
    padding: 0 0 0 34px;
    font-size: 12px;
    color: #333;
}
.center .con .box .tab0:hover{
    color: #e31436;
}
.center .con .box .inputbox{
    height: 34px;
    line-height: 30px;
    border-color: #d5d5d5;
    border-radius: 2px;
    position: relative;
    margin-bottom: 0px;
    border: 1px solid #c5cddb;
    background: #fff;
    font-size: 12px;
}
.center .con .box .inputbox .u-logo{
    height: 34px;
    width: 39px;
    padding: 0 11px;
    float: left;
    text-align: center;
}
.center .con .box .inputbox .u-logo .img{
    width: 17px;
    height: 18px;
    background: url() no-repeat;
    display: inline-block;
    margin-top: 8px;
}
.center .con .box .inputbox input{
    padding-left: 0px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    border: 0;
    outline: none;
}
.center .con .box .m-pc{
    position: relative;
    color: #666;
    width: 270px;
    height: 36px;
    margin-top: 56px;
    border: 1px solid #c5cddb;
    border-radius: 2px;
}

.center .con .box .m-pc input{
    padding-left: 8px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: #fff;
    color: #333;
    border: 0;
    float: left;
    margin-top: 2px;
}
.center .con .box .m-pc .pcb{
    position: absolute;
    top: 1px;
    right: 1px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    
}
.center .con .box .m-pc .pcb a{
    height: 33px;
    width: 96px;
    line-height: 32px;
    background-color: #eee;
    color: #333;
    border-left: #d5d5d5 solid 1px;
    display: block;
    text-align: center;
    font-size: 14px;
    background: #f6f6f6;
}
.center .con .box .m-pc .pcb a:hover{
    color: #e31436;
    opacity: 0.8;
}
.center .con .box .error{
    width: 270px;
    height: 17px;
    margin-top: 6px;
    visibility: hidden;
    overflow: hidden;

}
.center .con .box .login{
    width: 270px;
    height: 36px;
    margin-top: 7px;
    margin-bottom: 10px;

}
.center .con .box .login a{
    height: 36px;
    width: 100%;
    background-color: #e31436;
    color: #fff;
    border-radius: 2px;
    line-height: 36px;
    font-size: 14px;
    display: block;
    text-align: center;
}
.center .con .box .login a:hover{
    opacity: 0.8;
}
.center .con .box .u-login{
    width: 270px;
    height: 31px;
    line-height: 16px;
    padding: 0 0 15px 0;
}
.center .con .box .u-login1 input{
    float: left;
}
.center .con .box .u-login1 span{
    display: block;
    float: left;
    height: 16px;
    padding-left: 8px;
    font-size: 12px;
    color: #999;
    line-height: 17px;
    margin-top: 6px;
}
.center .con .box .u-login1 span:hover{
    color: #e31436;
}
.center .con .box .u-login1 a{
    float: right;
    height: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
}
.center .con .box .u-login1 a:hover{
    color: #e31436;
}
.center .con .down{
    width: 350px;
    height: 41px;
    padding: 10px 40px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 14px;
}
.center .con .down .logo{
    width: 160px;
    height: 22px;
    float: left;
}
.center .con .down .logo li{
    position: relative;
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.center .con .down .logo .weibo{
    background: url(../images/icon1_03.jpg) no-repeat;
     ;
    background-size: 22px 22px;
}
.center .con .down .logo .weixin{
    background: url(../images/icon1_04.jpg) no-repeat;
      ;
    background-size: 22px 22px;
}
.center .con .down .logo .zhifu{
    background: url(../images/icon1_05.jpg) no-repeat;
    ;
    background-size: 22px 22px;
}
.center .con .down .logo .qq{
    background: url(../images/icon1_07.jpg) no-repeat;
     
    background-size: 22px 22px;
}
.center .con .down a{
    display: inline-block;
    width: 105px;
    height: 22px;
    color: #e31436;
}




.box2{
    display: none;
    width: 350px;
    height: 230px;
    padding: 20px 40px 15px;
    background-color: #fff;
}
.box2 .form{
    width: 270px;
    height: 195px;

}
.box2 .email{
    height: 34px;
    line-height: 30px;
    border-color: #d5d5d5;
    border-radius: 2px;
    position: relative;
    border: 1px solid #c5cddb;
    background: #fff;
    font-size: 12px;
}
.box2 .email .u-logo{
    height: 34px;
    width: 39px;
    padding: 0 11px;
    float: left;
    text-align: center;
}
.box2 .email .u-logo .img{
    width: 17px;
    height: 18px;
    background: url() no-repeat;
    display: inline-block;
    margin-top: 8px;
}
.box2 .email input{
    padding-left: 0px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    border: 0;
    outline: none;
}
.changeEmail{
    position: relative;
    width: 320px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;

}
.psw{
    height: 34px;
    line-height: 30px;
    border-color: #d5d5d5;
    border-radius: 2px;
    position: relative;
    margin-bottom: 0px;
    border: 1px solid #c5cddb;
    background: #fff;
    font-size: 12px;

}

.box2 .psw .u-logo{
    height: 34px;
    width: 39px;
    padding: 0 11px;
    float: left;
    text-align: center;
}
.box2 .psw .u-logo .img{
    width: 17px;
    height: 18px;
    background: url() no-repeat;
    display: inline-block;
    margin-top: 8px;
}
.box2 .psw input{
    padding-left: 0px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    border: 0;
    outline: none;
}
.changePasw{
    position: relative;
    width: 320px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;

}

.box2 .login{
    width: 270px;
    height: 36px;
    margin-top: 7px;
    margin-bottom: 10px;

}
.box2 .login a{
    height: 36px;
    width: 100%;
    background-color: #e31436;
    color: #fff;
    border-radius: 2px;
    line-height: 36px;
    font-size: 14px;
    display: block;
    text-align: center;
}
.box2 .login a:hover{
    opacity: 0.8;
}
.box2 .u-login{
    width: 270px;
    height: 31px;
    line-height: 16px;
    padding: 0 0 15px 0;
}
.box2 .u-login1 input{
    float: left;
    margin-top: 8px;
}
.box2 .u-login1 span{
    display: block;
    float: left;
    height: 16px;
    padding-left: 8px;
    font-size: 12px;
    color: #999;
    line-height: 17px;
    margin-top: 6px;
}
.box2 .u-login1 span:hover{
    color: #e31436;
}
.box2 .u-login1 a{
    float: right;
    height: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
}
.box2 .u-login1 a:hover{
    color: #e31436;
}







footer{
    width: 1308px;
    height: 115px;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background: #fff;
}
footer .about{
    width: 1308px;
    height: 115px;
    background: #fff;
    padding: 0;
    color: #666;
    position: relative;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
}
footer .about a{
    color: #666;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
}
footer .about .sep{
    margin: 0 20px;
    color: #666;
    line-height: 26px;
    text-align: center;
}
footer .about .listen{
    margin: 0 20px;
    font-size: 12px;
    color: #999;
    line-height: 26px;
    text-align: center;
}
footer .about .balnk{
    color: #666;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
}